<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>1</ADDirectoryAccessLevel>
    <ADDomain>4480tsw.onmicrosoft.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tswtrucksmart.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tswtrucksmart.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tswtrucksmart</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$tswtrucksmart</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:tswtrucksmart.database.windows.net,1433;Initial Catalog=default;Persist Security Info=False;User ID=student;Password=GKPa$$w0rd12;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&#xD;&#xA;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:tswtrucksmart.database.windows.net,1433;Initial Catalog=default;Persist Security Info=False;User ID=student;Password=GKPa$$w0rd12;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&#xD;&#xA;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="StorageAccount" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=tswtrucksmart;AccountKey=LoJdmFeymv57ZMS4aAahunLnlXupV9p6t6xWR9afXgwceACjbYin5GXgEgX9rhwEfdUpykWHccIbcbd5bjyIaw==;EndpointSuffix=core.windows.net" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StorageAccount_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=tswtrucksmart;AccountKey=LoJdmFeymv57ZMS4aAahunLnlXupV9p6t6xWR9afXgwceACjbYin5GXgEgX9rhwEfdUpykWHccIbcbd5bjyIaw==;EndpointSuffix=core.windows.net" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TruckSmartDB" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:tswtrucksmart.database.windows.net,1433;Initial Catalog=TruckSmart;Persist Security Info=False;User ID=student;Password=GKPa$$w0rd12;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TruckSmartDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:tswtrucksmart.database.windows.net,1433;Initial Catalog=TruckSmart;Persist Security Info=False;User ID=student;Password=GKPa$$w0rd12;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&#xD;&#xA;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://4480tsw.onmicrosoft.com/WebApp-tswtrucksmart.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>f094f02b-dfa0-40ba-a235-3c832ef6524e</ADClientAPPID>
    <ADClientPassword>0OoCF3h5MlqHcQMdyOsYldJUJ6O9Zs0lVUhQSj+TvVI=</ADClientPassword>
    <ADReplyUrl>https://tswtrucksmart.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>6616fcaf-438a-4bea-9798-a0298066fe21</ADTenantId>
    <ADPostLogoutRedirectUri>https://tswtrucksmart.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StorageAccount-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TruckSmartDB-Web.config Connection String" />
  </ItemGroup>
</Project>